
*.pygtex
*.aux
*.aux
.DS_Store
apostila/.DS_Store
apostila/abnt-alf.bst
apostila/abnt-alfenglish.bst
apostila/abnt-num.bst
apostila/abnt-options.bib
apostila/abntcite.sty
apostila/abntex-abrev-pt_BR.def
apostila/abntex-abrev.sty
apostila/bibinpe.bst
apostila/conf/.DS_Store
apostila/docs/anexoA.aux
apostila/docs/anexoB.aux
apostila/docs/apendiceA.aux
apostila/docs/apendiceB.aux
apostila/docs/capitulo2.aux
apostila/docs/capitulo3.aux
apostila/docs/capitulo4.aux
apostila/docs/contracapa.aux
apostila/docs/respostas/texercise2.2.1.tex
apostila/docs/respostas/texercise2.2.10.tex
apostila/docs/respostas/texercise2.2.11.tex
apostila/docs/respostas/texercise2.2.12.tex
apostila/docs/respostas/texercise2.2.13.tex
apostila/docs/respostas/texercise2.2.14.tex
apostila/docs/respostas/texercise2.2.15.tex
apostila/docs/respostas/texercise2.2.16.tex
apostila/docs/respostas/texercise2.2.17.tex
apostila/docs/respostas/texercise2.2.18.tex
apostila/docs/respostas/texercise2.2.9.tex
apostila/docs/respostas/texercise2.2.8.tex
apostila/docs/respostas/texercise2.2.7.tex
apostila/docs/respostas/texercise2.2.6.tex
apostila/docs/respostas/texercise2.2.5.tex
apostila/docs/respostas/texercise2.2.4.tex
apostila/docs/respostas/texercise2.2.36.tex
apostila/docs/respostas/texercise2.2.19.tex
apostila/docs/respostas/texercise2.2.2.tex
apostila/docs/respostas/texercise2.2.20.tex
apostila/docs/respostas/texercise2.2.21.tex
apostila/docs/respostas/texercise2.2.22.tex
apostila/docs/respostas/texercise2.2.23.tex
apostila/docs/respostas/texercise2.2.24.tex
apostila/docs/respostas/texercise2.2.25.tex
apostila/docs/respostas/texercise2.2.26.tex
apostila/docs/respostas/texercise2.2.27.tex
apostila/docs/respostas/texercise2.2.28.tex
apostila/docs/respostas/texercise2.2.29.tex
apostila/docs/respostas/texercise2.2.3.tex
apostila/docs/respostas/texercise2.2.30.tex
apostila/docs/respostas/texercise2.2.31.tex
apostila/docs/respostas/texercise2.2.32.tex
apostila/docs/respostas/texercise2.2.33.tex
apostila/docs/respostas/texercise2.2.34.tex
apostila/docs/respostas/texercise2.2.35.tex
apostila/publicacao.brf
apresentacao/partes_I-II/_minted-apresentacao/default.pygstyle
apresentacao/partes_I-II/_minted-apresentacao/default-pyg-prefix.pygstyle
apostila/publicacao-listing-101.tex
apostila/publicacao-listing-101.ps
apostila/publicacao-listing-101.pdf
apostila/publicacao-listing-101.md5
apostila/publicacao-listing-101.log
apostila/publicacao-listing-101.dvi
apostila/nbr10522-1988.def
apostila/nbr10520-2002.def
apostila/docs/contracapa.aux
apostila/docs/capitulo4.aux
apostila/docs/contracapa.aux
apostila/docs/capitulo4.aux
*.aux
*.aux
