apresentacao-listing-17.aux
apresentacao-listing-17.dvi
apresentacao-listing-17.log
apresentacao-listing-17.md5
apresentacao-listing-17.pdf
apresentacao-listing-17.ps
apresentacao-listing-17.tex
apresentacao-listing-25.aux
apresentacao-listing-25.dvi
apresentacao-listing-25.log
apresentacao-listing-25.md5
apresentacao-listing-25.pdf
apresentacao-listing-25.ps
apresentacao-listing-25.tex
apresentacao-listing-26.aux
apresentacao-listing-26.dvi
apresentacao-listing-26.log
apresentacao-listing-26.md5
apresentacao-listing-26.pdf
apresentacao-listing-26.ps
apresentacao-listing-26.tex
apresentacao-listing-27.aux
apresentacao-listing-27.dvi
apresentacao-listing-27.log
apresentacao-listing-27.md5
apresentacao-listing-27.pdf
apresentacao-listing-27.ps
apresentacao-listing-27.tex
apresentacao-listing-4.aux
apresentacao-listing-4.dvi
apresentacao-listing-4.log
apresentacao-listing-4.md5
apresentacao-listing-4.pdf
apresentacao-listing-4.ps
apresentacao-listing-4.tex
apresentacao.aux
apresentacao.listing
apresentacao.log
apresentacao.nav
apresentacao.out
apresentacao.snm
apresentacao.toc
apresentacao.vrb
