apresentacao-listing-1.aux
apresentacao-listing-1.dvi
apresentacao-listing-1.log
apresentacao-listing-1.md5
apresentacao-listing-1.pdf
apresentacao-listing-1.ps
apresentacao-listing-1.tex
apresentacao-listing-2.aux
apresentacao-listing-2.dvi
apresentacao-listing-2.log
apresentacao-listing-2.md5
apresentacao-listing-2.nav
apresentacao-listing-2.out
apresentacao-listing-2.pdf
apresentacao-listing-2.ps
apresentacao-listing-2.snm
apresentacao-listing-2.tex
apresentacao-listing-2.toc
apresentacao.aux
apresentacao.listing
apresentacao.log
apresentacao.nav
apresentacao.out
apresentacao.snm
apresentacao.toc
apresentacao.vrb
